node_modules

.cache
.env
.vercel
.output

/build/
/public/build
/public/aragon-ui
/api/index.js
/api/index.js.map

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
